.button {
    width: 100%;
    padding: 14px;
    background-color: #EA454C;
    box-shadow: 0 4px 10px 0 rgba(#EA454C, 25%);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}