.textinput {
    display: block;
    margin-bottom: 27px;

    &__title {
        margin: 0;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    &__input {
        width: 100%;
        display: block;
        outline: none;
        border: 1px solid rgba(#000, 25%);
        box-shadow: 0 4px 10px 0 rgba(#000, 25%);
        border-radius: 12px;
        font-size: 14px;
        font-weight: 300;
        padding: 14px;
        background-color: #f8f8f8;
    }
}